{% extends "base.html" %}

{% block content %}
<title>Аккаунт</title>
<link rel="shortcut icon" href="static/icon.png" type="image/x-icon">
<div style="width: 100%">
    <div style="width: 50%; margin-left: 25%; margin: right: 25%; border: 2px solid #000000; border-radius: 4px; margin-top: 50px;">
        <div style="width: 100%;">
            <div style="display: inline-block; width: 20%; border: 2px solid #000000; float: left; text-align: center">
                <p style="margin-top: 15px; margin-bottom: 15px;">Логин</p>
            </div>
            <div style="display: inline-block; width: 80%; border: 2px solid #000000;">
                <p style="float: left; margin-left: 25px; margin-top: 15px; margin-bottom: 15px;">{{ item.login }}</p>
                <form action="/change_info/login" style="margin-left: 80%">
                    <button type="submit" style="margin-top: 12px; margin-bottom: 8px;">Изменить</button>
                </form>
            </div>
        </div>
        <div style="width: 100%;">
            <div style="display: inline-block; width: 20%; border: 2px solid #000000; float: left; text-align: center">
                <p style="margin-top: 15px; margin-bottom: 15px;">Пароль</p>
            </div>
            <div style="display: inline-block; width: 80%; border: 2px solid #000000;">
                <p style="float: left; margin-left: 25px; margin-top: 15px; margin-bottom: 15px;">{{ password }}</p>
                <form action="/change_info/password" style="margin-left: 80%">
                    <button type="submit" style="margin-top: 12px; margin-bottom: 8px;">Изменить</button>
                </form>
            </div>
        </div>
        <div style="width: 100%;">
            <div style="display: inline-block; width: 20%; border: 2px solid #000000; float: left; text-align: center">
                <p style="margin-top: 15px; margin-bottom: 15px;">Имя</p>
            </div>
            <div style="display: inline-block; width: 80%; border: 2px solid #000000;">
                <p style="float: left; margin-left: 25px; margin-top: 15px; margin-bottom: 15px;">{{ item.name }}</p>
                <form action="/change_info/name" style="margin-left: 80%">
                    <button type="submit" style="margin-top: 12px; margin-bottom: 8px;">Изменить</button>
                </form>
            </div>
        </div>
        <div style="width: 100%;">
            <div style="display: inline-block; width: 20%; border: 2px solid #000000; float: left; text-align: center">
                <p style="margin-top: 15px; margin-bottom: 15px;">Фамилия</p>
            </div>
            <div style="display: inline-block; width: 80%; border: 2px solid #000000;">
                <p style="float: left; margin-left: 25px; margin-top: 15px; margin-bottom: 15px;">{{ item.surname }}</p>
                <form action="/change_info/surname" style="margin-left: 80%">
                    <button type="submit" style="margin-top: 12px; margin-bottom: 8px;">Изменить</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}